<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:c="http://www.springframework.org/schema/c" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.2.xsd"
		>

	<!-- Enable autowiring scan -->
	<context:component-scan base-package="tn.esprit"/>
	<!-- Enable autoproxy for AspectJ -->
	<aop:aspectj-autoproxy/>
	<bean id="loggerAspect" class="tn.esprit.tp2aop.aspects.LoggerAspect" />


	<bean id="user1" class="tn.esprit.tp2aop.model.User" c:password="adminpassword" c:username="admin">
		<property name="roles">
			<list>
				<ref bean="viewRole" />
				<ref bean="readRole" />
			</list>
		</property>
	</bean>
	<bean id="user2" class="tn.esprit.tp2aop.model.User" c:password="userpassword" c:username="user">
		<property name="roles">
			<list>
				<ref bean="viewRole" />
			</list>
		</property>
	</bean>

	<bean id="viewRole" class="tn.esprit.tp2aop.model.Role" c:label="view" />
	<bean id="readRole" class="tn.esprit.tp2aop.model.Role" c:label="read" />


	

	
	


</beans>
